# 1.Explain the key features of Python that make it a popular choice for programming?

=> Python is one of the most widely used programming languages in data
   analytics, and honestly, it's not hard to see why. I’m currently learning it as part of my data analytics course, and what really stands out is how beginner-friendly it is.

  One of the biggest reasons people love Python is its simple and readable syntax. It doesn’t feel overwhelming, especially for someone like me who didn’t come from a hardcore programming background. You can write code that looks almost like plain English, which makes it easier to understand what’s going on—especially when working with complex data.

  Another huge advantage is Python’s amazing collection of libraries made specifically for data-related work. Libraries like pandas help in organizing and analyzing data, numpy makes numerical computations faster, and tools like matplotlib and seaborn are great for creating graphs and visualizations. These libraries save a lot of time because they already have so many built-in functions—you don’t have to build everything from scratch.

  Python is also great when it comes to automating repetitive tasks. For example, if I have to clean a dataset or calculate some statistics over and over, I can just write a simple script once and reuse it whenever I need. This kind of automation is super helpful in data projects.

  Something else I found useful is that Python is dynamically typed and interpreted, which means you don’t have to worry about declaring variable types or compiling the code every time you run it. You can just write a bit of code and immediately see how it works, which really helps when you’re experimenting or learning.

  It also works on different operating systems, so whether you’re using Windows, macOS, or Linux, your Python code runs just fine. And because it’s used worldwide, there’s a huge community of Python users. If I get stuck, I can usually find answers or examples online pretty quickly.

  All in all, Python has everything a data analyst needs—simplicity, powerful tools, and flexibility. It’s like a one-stop solution for handling, analyzing, and visualizing data, which is why I think it’s such a popular choice in the data analytics world.

# 2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program

=>  In Python, keywords are reserved words that have special meanings. You
  cannot use these words as variable names or function names because they are part of Python’s syntax and are used to define specific operations or structures in the code.These keywords help Python understand what you want to do in your program, like making decisions, repeating actions, or defining functions.

## Common Python Keywords with Examples

1. if, elif, else – Used for Conditional Statements (Making decisions)
What they do:
The if keyword checks if a condition is True. If it is, it runs the code inside the block. The elif (else if) checks another condition if the first one is False, and the else is used when all conditions are False.

In [4]:
# program to check if a number is positive, negative, or zero

number = 5  # You can change this number to test different cases

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

Explanation:

If number is greater than 0, it prints "The number is positive."

If number is less than 0, it prints "The number is negative."

If neither of the above is true (meaning the number is 0), it prints "The number is zero."

2. for – Used for Loops (Repeating actions)
What it does:
The for loop is used to repeat a block of code a specific number of times or iterate over a sequence (like a list).

In [5]:
# Simple program to print numbers from 1 to 5

for i in range(1, 6):  # range(1, 6) creates numbers from 1 to 5
    print(i)

1
2
3
4
5

Explanation:

range(1, 6) generates a sequence of numbers from 1 to 5.

The for loop runs through each number and prints it.

The loop will repeat the action until it has printed all numbers in the range.

# 3. Compare and contrast mutable and immutable objects in Python with examples?

=>  1. Mutable Objects
These are objects whose values can be changed after they are created.
When you change something inside a mutable object, Python does not create a new object—it simply updates the original one.

Examples of Mutable Objects:
list

dict

set

Example: List (Mutable)

In [7]:
numbers = [1, 2, 3]
print("Before:", numbers)

numbers.append(4)  # Modifying the list
print("After:", numbers)

Before: [1, 2, 3]
After: [1, 2, 3, 4]

Explanation:

We added a new number to the list using .append().

The list was changed without creating a new one—this is what makes it mutable.

2. Immutable Objects
These are objects whose values cannot be changed after they are created.
If you try to modify them, Python creates a new object instead of changing the existing one.

 Examples of Immutable Objects:
int

float

str

tuple

bool

 Example: String (Immutable)

In [8]:
name = "Akhil"
print("Before:", name)

name = name + " Nair"  # Looks like modification, but it's creating a new string
print("After:", name)

Before: Akhil
After: Akhil Nair

Explanation:

It may seem like we changed the original string, but in reality, Python created a new string and assigned it to the same variable.

The original "Akhil" remains unchanged internally. This makes strings immutable.

# 4.Discuss the different types of operators in Python and provide examples of how they are used?

# => Python Operators: Types & Examples
we’ll explore different types of operators in Python.

##  1. Arithmetic Operators

These are used to perform basic math operations.

In [10]:
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Exponent:", a ** b)
print("Floor Division:", a // b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponent: 1000
Floor Division: 3

#  2. Assignment Operators

These are used to assign and update values in variables.

In [11]:
x = 5
x += 3  # x = x + 3
print("x after += 3:", x)

x *= 2  # x = x * 2
print("x after *= 2:", x)

x after += 3: 8
x after *= 2: 16

##  3. Comparison Operators

Used to compare two values. Returns `True` or `False`.

In [12]:
a = 10
b = 5

print("Is a equal to b?", a == b)
print("Is a not equal to b?", a != b)
print("Is a greater than b?", a > b)
print("Is a less than or equal to b?", a <= b)

Is a equal to b? False
Is a not equal to b? True
Is a greater than b? True
Is a less than or equal to b? False

##  4. Logical Operators

##  4. Logical Operators

Used to combine multiple conditions.

In [13]:
x = 7

print("Is x between 5 and 10?", x > 5 and x < 10)
print("Is x less than 5 or greater than 10?", x < 5 or x > 10)
print("Is it NOT true that x > 5 and x < 10?", not(x > 5 and x < 10))

Is x between 5 and 10? True
Is x less than 5 or greater than 10? False
Is it NOT true that x > 5 and x < 10? False

##  5. Identity Operators

Used to check whether two variables refer to the **same object**.

In [15]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print("a is b:", a is b)       # True
print("a is c:", a is c)       # False
print("a is not c:", a is not c)  # True

a is b: True
a is c: False
a is not c: True

# 5.Explain the concept of type casting in Python with examples

#  Type Casting in Python

In Python, **type casting** means converting one data type into another. This is useful when you want to perform operations that require values to be in a specific format (like converting a string to an integer for math).

###  There are two types of type casting:
1. **Implicit Type Casting**
2. **Explicit Type Casting**

### 1. Implicit Type Casting

In [16]:
# Implicit type casting
a = 5        # integer
b = 2.0      # float

result = a + b  # Python automatically converts 'a' to float
print(result)   # Output: 7.0
print(type(result))  # Output: <class 'float'>

7.0
<class 'float'>

###  2. Explicit Type Casting

You manually convert one data type into another using built-in functions like:

- `int()` → converts to integer
- `float()` → converts to float
- `str()` → converts to string
- `bool()` → converts to Boolean
- `list()`, `tuple()`, `set()` → for data collections

###  Examples:

In [19]:
# Converting float to int
x = 10.75
x_int = int(x)
print(x_int)  # Output: 10 (decimal part is removed)

# Converting string to int
num_str = "100"
num_int = int(num_str)
print(num_int + 50)  # Output: 150

# Converting int to string
age = 25
print("I am " + str(age) + " years old.")  # Output: I am 25 years old.

# Converting list to set
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}

10
150
I am 25 years old.
{1, 2, 3}

# 6.How do conditional statements work in Python? Illustrate with examples

#  Conditional Statements in Python

Conditional statements help you make decisions in your code based on **certain conditions**.

They work like:
> "If this is true, then do this… Otherwise, do something else."

In data analytics, we use them for tasks like filtering data, cleaning it, or making decisions based on values.

##  Types of Conditional Statements:
1. `if`
2. `if-else`
3. `if-elif-else`
4. Nested `if`

Let’s go through them one by one with examples.

1. if Statement

In [23]:
age = 20

if age > 18:
    print("You are an adult.")

You are an adult.

2. if-else Statement

In [25]:
marks = 45

if marks >= 50:
    print("You passed!")
else:
    print("You Failed!")

You Failed!

3. if-elif-else Statement

In [28]:
temp = 30

if temp < 20:
    print("It's cold.")
elif temp < 35:
    print("It's warm.")
else:
    print("It's hot.")

It's warm.

4. Nested if Statement

In [35]:
score = 80

if score >= 50:
    if score >= 80:
        print("Excellent!")
    else:
        print("Good job!")
else:
    print("Try again!")

Excellent!

# 7.Describe the different types of loops in Python and their use cases with examples.

#  Loops in Python

Loops are used when we want to **repeat a block of code multiple times**. This is super helpful in data analytics when you're going through rows of data, applying conditions, or performing repetitive tasks.

##  Types of Loops in Python:

1. `for` loop
2. `while` loop
3. `nested` loops

1. for Loop

Used when you want to iterate over a sequence (like a list, tuple, string, or range of numbers).

In [36]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

2. while Loop

Used when you want to repeat something until a condition becomes false.

In [40]:
count = 1

while count <= 5:
    print("Counting:", count)
    count += 1

Counting: 1
Counting: 2
Counting: 3
Counting: 4
Counting: 5

3. Nested Loops

A loop inside another loop.

In [42]:
# Print a pattern using nested loops
for i in range(1, 5):
    for j in range(1, 5):
        print(f"({i}, {j})", end=' ')
    print()

(1, 1) (1, 2) (1, 3) (1, 4)
(2, 1) (2, 2) (2, 3) (2, 4)
(3, 1) (3, 2) (3, 3) (3, 4)
(4, 1) (4, 2) (4, 3) (4, 4)